.card{
    grid-area:card;
    border:none;
}
.list{
    grid-area:list;
}
.comments{
    grid-area:comments;
    margin-top: 30px;
    font-size: 13px;
}
.container{
    min-height: calc(100vh - 56px);
    display:grid;
    grid-gap:20px;
    padding:20px;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:auto;
    grid-template-areas:"card card list"
        "comments comments comments"
}
.nav-link{
    text-decoration: underline;
}
.navbar-brand{
    font-size: 15px;
}
h1{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top:100px;
}
h2{
    font-size: 15px;
    font-weight: bold;
    margin-top: -102px;
    margin-bottom: 60px;
    text-align: center;
    color:white;
}
h3{
    font-size: 15px;
    text-align: center;
}
h4{
    font-size: 15px;
    font-weight: bold;
}
h5{
    color:green;
}
li {
    list-style-type: none; /* Убираем маркеры у списка */
}
li:before {
    content: "✓ "; /* Добавляем в качестве маркера символ */
    color:green;
    font-weight: bold;
}
.list-group-item{
    border:none;
    padding: 0.20rem 1.25rem;
}
.my_img{
    height:75px;
    width:75px;
    border-radius:40px;
}
.my_img2{
    height:100px;
    width:100px;
    margin-bottom: 10px;
    margin-top:50px;
}
.btn{
    color:white;
    width:250px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-bottom:20px;
    background-color: red;
}
.card-body{
    border: 1px solid green;
    border-radius:5px;
    transition:3.5s;
    padding:0px;
}
.card-body:hover{
    border:2px solid green;
}
.card-title{
    opacity: 0.0;
}
.card-body:hover .card-title{
    width: 100%;
    height: 70px;
    background: green;
    padding-top:10px;
    opacity:1.0;
    margin-bottom: -35px;
}
@media only screen and (max-width: 600px) {
    h1{
        text-align: center;
        font-size: 10px;
        font-weight: bold;
        margin-top: 90px;
        margin-bottom: 0px;
    }
    .navbar-brand{
        font-size: 10px;
    }
    .nav-link{
        font-size: 10px;
        margin-right:0px;
    }
    .container{
        padding-top:0px;
    }
    .card-body{
        margin-bottom: 15px;
    }
    .card-text{
        font-size: 14px;
    }
    h5{
        font-size: 15px;
        margin-bottom: 0px;
    }
    .btn{
        width:150px; 
        margin-top: 10px;
    }
    div.list {
        display: none;
    }
    .comments{
        margin-top:0px;
        font-size: 10px;
        margin-right: 15px;
    }
    .my_img{
        height:30px;
        width:30px;
        border-radius:15px;

    }
    .card-body:hover .card-title{
        width: 100%;
        height: 45px;
        background: green;
        padding-top:5px;
        opacity:1.0;
        margin-bottom: -25px;
    }
    .my_img2{
        height:70px;
        width:70px;
    }
    .card-body p{
        margin:0px!important;
    }
    h4{
        font-size: 13px;
        font-weight: bold;
    }
    .my_col{
        margin-left:70px!important;
        margin-top:-25px;
    }
    .page-footer{
        margin-top:0px!important;
    }
    .my_a{
        margin-left:0px!important; 
    }
    .my_img3{
        margin-left:10px!important;
    }
    .my_a2{
        margin-right: 0px!important;
    }
}
@media only screen and (min-width: 768px){
    h1{
        text-align: center;
        font-size: 15px;
        margin-top: 110px;
        margin-bottom: 0px;
    }
    .container{
        display:grid;
        grid-gap:10px;
        padding:10px;
        grid-template-columns:1fr 1fr;
        grid-template-rows:auto;
        grid-template-areas:"card list"
            "comments comments "
    }
    .card-body{
        margin-bottom: 20px;
    }
    .my_col{
        margin-left: 0px!important;
    }
    h4{
        text-align: center;
    }
    .my_img{
        margin-bottom: -20px;
    }
}
@media only screen and (min-width: 992px) {
    .card{
        grid-area:card;
        border:none;
    }
    .list{
        grid-area:list;
    }
    .comments{
        grid-area:comments;
        margin-top: 30px;
        font-size: 13px;
    }
    .container{
        min-height: calc(100vh - 56px);
        display:grid;
        grid-gap:20px;
        padding:20px;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows:auto;
        grid-template-areas:"card card list"
            "comments comments comments"
    }
    .nav-link{
        text-decoration: underline;
    }
    .navbar-brand{
        font-size: 15px;
    }
    h1{
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top:100px;
    }
    h2{
        font-size: 15px;
        font-weight: bold;
        margin-top: -102px;
        margin-bottom: 60px;
        text-align: center;
        color:white;
    }
    h3{
        font-size: 15px;
        text-align: center;
    }
    h4{
        font-size: 15px;
        font-weight: bold;
    }
    h5{
        color:green;
    }
    li {
        list-style-type: none; /* Убираем маркеры у списка */
    }
    li:before {
        content: "✓ "; /* Добавляем в качестве маркера символ */
        color:green;
        font-weight: bold;
    }
    .list-group-item{
        border:none;
        padding: 0.20rem 1.25rem;
    }
    .my_img{
        height:75px;
        width:75px;
        border-radius:40px;
    }
    .my_img2{
        height:100px;
        width:100px;
        margin-bottom: 10px;
        margin-top:50px;
    }
    .btn{
        color:white;
        width:250px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        margin-bottom:20px;
        background-color: red;
    }
    .card-body{
        border: 1px solid green;
        border-radius:5px;
        transition:3.5s;
        padding:0px;
    }
    .card-body:hover{
        border:2px solid green;
    }
    .card-title{
        opacity: 0.0;
    }
    .card-body:hover .card-title{
        width: 100%;
        height: 70px;
        background: green;
        padding-top:10px;
        opacity:1.0;
        margin-bottom: -35px;
    }
    .my_col{
        margin-right: 100px!important;
    }
}
@media only screen and (min-width: 1024px){
    h2{
        font-size: 14px;
        margin-top: -85px;
    }
}
@media only screen and (min-width: 1200px){
    h2{
        font-size: 15px;
        margin-top: -102px;
    }
}
