<table border=1>
<tr>
    <td>ячейка 1</td>
	<td>ячейка 2</td>
	<td>ячейка 3</td>
</tr>
<tr>
    <td>ячейка 4</td>
	<td>ячейка 5</td>
	<td>ячейка 6</td>
</tr>
<tr>
    <td>ячейка 7</td>
	<td>ячейка 8</td>
	<td>ячейка 9</td>
</tr>
</table>