<table border="1" cellpadding="0" cellspacing="0" width="400" height="200">
<tr> 
   <th>ячейка 1</th>
   <th>ячейка 2</th>
   <th>ячейка 3</th>
</tr>
<tr>
   <td>ячейка 4</td>
   <td>ячейка 5</td>
   <td>ячейка 6</td>
</tr>
<tr>
   <td>ячейка 7</td>
   <td>ячейка 8</td>
   <td>ячейка 9</td>
</tr>
</table>