<table border="1" cellpadding="0" cellspacing="0" width="400" height="200">
<tr> 
   <th>ячейка 1</th>
   <th>ячейка 2</th>
   <th>ячейка 3</th>
</tr>
<tr>
   <td align="right">ячейка 4</td>
   <td align="left">ячейка 5</td>
   <td align="right">ячейка 6</td>
</tr>
<tr>
   <td align="left">ячейка 7</td>
   <td align="center">ячейка 8</td>
   <td align="right">ячейка 9</td>
</tr>
</table>