<table border="1" cellspacing="0" cellpadding="0" widht="400" height="200">
<tr>
    <th>номер</th>
	<th>тег</th>
	<th>значение</th>
</tr>
<tr align="center">
    <td>1</td>
	<td>р</td>
	<td>абзац</td>
</tr>
<tr align="center">
    <td>2</td>
	<td>а</td>
	<td>ссылка</td>
</tr>
<tr align="center">
    <td>3</td>
	<td>b</td>
	<td>жирный текст</td>
</tr>
<tr align="center">
    <td>4</td>
	<td>i</td>
	<td>курсив</td>
</tr>
<tr align="center">
    <td>5</td>
	<td>table</td>
	<td>таблица</td>
</tr>
<tr align="center">
    <td>6</td>
	<td>tr</td>
	<td>ряд таблицы</td>
</tr>
<tr align="center">
    <td>7</td>
	<td>td</td>
	<td>ячейка таблицы</td>
</tr>
<tr align="center">
    <td>8</td>
	<td>th</td>
	<td>заголовок таблицы</td>
</tr>
</table>