<h1><b>Что такое CMS</b></h1>
<p><b>CMS</b> - «система управления контентом» <b>(движок)</b> – написанная PHP-программистами основа для сайта, с помощью которой вы сможете управлять сайтом (добавлять контент, менять пункты меню и т.п.) не зная HTML и CSS.</p>

<p>Однако, для того чтобы сделать сайт с помощью <b>CMS</b> <i>потребуются услуги</i> и программиста, и дизайнера, и верстальщика. И капиталовложения.</p>

<h2><b>Какие бывают cms</b></h2>
<p>Бывают различные системы управления контентом: для интернет-магазинов, для блогов, для форумов и т.д.</p>
<h2><b>Примеры cms</b></h2>
<p><i>Примеры популярных CMS</i>: Joomla, WordPress (для блогов), PhpBB (для форумов).</p>
<p><b><CMS-ки</b> бывают <i>платные</i> и <i>бесплатные</i>.</p>