<table border="1" cellpadding="0" cellspacing="0">
<tr> 
   <td colspan="2">ячейка 1</td>
   <td>ячейка 3</td>
</tr>
<tr>
   <td rowspan="2">ячейка 4</td>
   <td>ячейка 5</td>
   <td>ячейка 6</td>
</tr>
<tr>
   <td>ячейка 8</td>
   <td>ячейка 9</td>
</tr>
</table>