<table border="1" cellpadding="0" cellspacing="0">
<tr> 
   <td rowspan="3">ячейка 1</td>
   <td>ячейка 2</td>
   <td rowspan="3">ячейка 3</td>
</tr>
<tr>
   <td>ячейка 5</td>
</tr>
<tr>
   <td>ячейка 8</td>
</tr>
</table>