<table border="1" cellspacing="0" cellpadding="0" widht="400" height="200">
<tr>
    <th rowspan="2">номер</th>
	<th colspan="2">теги</th>
</tr>
<tr>
	<th>тег</th>
	<th>значение</th>
</tr>
<tr align="center">
    <td>1</td>
	<td>р</td>
	<td rowspan="4">для текста</td>
</tr>
<tr align="center">
    <td>2</td>
	<td>а</td>
</tr>
<tr align="center">
    <td>3</td>
	<td>b</td>
</tr>
<tr align="center">
    <td>4</td>
	<td>i</td>
</tr>
<tr align="center">
    <td>5</td>
	<td>table</td>
	<td>таблица</td>
</tr>
<tr align="center">
    <td>6</td>
	<td>tr</td>
	<td>ряд таблицы</td>
</tr>
<tr align="center">
    <td>7</td>
	<td>td</td>
	<td rowspan="2">ячейка таблицы</td>
</tr>
<tr align="center">
    <td>8</td>
	<td>th</td>
</tr>
</table>