<h1>Списки</h1>
<h2>Список цветов</h2>
<ul>
<li>Красный</li>
<li>Желтый</li>
<li>Зеленый</li>
<li>Синий</li>
</ul>
<h2>Список студентов</h2>
<ol>
<li>Иванов</li>
<li>Петров</li>
<li>Сидоров</li>
<li>Николаев</li>
</ol>
<h2>Список студентов</h2>
<ol>
  <li>
      Иванов
    <ul>
        <li>Возраст - 23 года</li>
        <li>Курс - 3</li>
    </ul>
    </li>
    <li>
	    Петров
        <ul>
            <li>Возраст - 19 лет</li>
            <li>Курс - 2</li>
        </ul>
    </li>
    <li>
	    Сидоров
        <ul>
            <li>Возраст - 18 лет</li>
            <li>Курс - 1</li>
        </ul>
	</li>
</ol>