<div></div>
<style>
	@keyframes abc{
		0%{
			transform: rotate(0deg);
			background:blue;
		}
		20%{
		    transform: rotate(-110deg);
			border-radius:75px;
		}
		50%{
		   margin-top:300px;
		}
		100%{
			transform: rotate(220deg);
			background:orange;
		}
	}
	div{
		animation-name: abc;
		animation-duration: 5s;
		animation-delay: 2s;
		animation-fill-mode:forwards;
		animation-iteration-count:infinite;
		animation-direction:alternate;
	}
	div{
		background:blue;
		width:150px;
		height:150px;
		margin:100px auto;
	}
</style>