<div></div>
<style>
	@keyframes abc{
		0%{
		   left:0px;
		}
		100%{
		   left:1000px;	
		}
	}
	div{
		animation-name: abc;
		animation-duration: 5s;
		animation-delay: 2s;
		animation-fill-mode:forwards;
		animation-iteration-count:infinite;
		animation-direction:alternate;
		animation-timing-function: ease-in-out;
	}
	div{
	position:absolute;
		background:blue;
		width:150px;
		height:150px;
		margin:100px auto;
	}
	body{
	   margin:8px;
	}
</style>