<button>BUY ME</button>
<style>
	@keyframes abc{
		0%{
		  
		   transform:rotate(0deg);
		}
		10%,30%,50%,70%,90%{
		   transform:rotate(30deg);
		}
		20%,40%,60%,80%{
		   transform:rotate(-30deg);
		   }
		100%{
		   transform:rotate(0deg);
		}
	}
	button{
	    display:block;
		margin:100px auto;
		
		animation-name: abc;
		animation-duration: 1.3s;
		animation-delay: 2s;
		animation-fill-mode:forwards;
		animation-iteration-count:infinite;
		animation-direction:alternate;
		animation-timing-function: ease-in;
	}
	
	
	body{
	   margin:8px;
	}
</style>