<style>
div{
background:yellow;
text-align:justify;
width:400px;
padding:30px;
border:3px solid red;
border-radius:25px;
box-shadow:4px 4px 5px grey;
box-sizing:border-box;
}
body{
background:cyan;
margin:0px;
}
</style>


<body>
<div>
tiam ut leo sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam convallis, tortor a interdum faucibus, justo leo vehicula libero, at sollicitudin ex turpis nec diam. Sed urna nunc, tempor et viverra sit amet, finibus sit amet sapien. Nam posuere lobortis lectus. Ut sodales tincidunt dui id tempor. Ut quis enim sed arcu aliquam commodo a vel massa. Aliquam ac consequat turpis, in posuere dolor. Sed leo augue, facilisis in eleifend eu, fringilla at risus. Donec lacus velit, finibus vel sodales ut, dictum eget lorem. Donec eleifend dui ac sodales tempus. Curabitur posuere lorem vel sapien vulputate, at malesuada purus feugiat. Cras nibh dolor, convallis eget faucibus quis, sodales at ligula.
</div>
</body>